/.idea/
out/

.DS_Store
-*.swp
-*.*~
-project.lock.json
*.pyc
nupkg/


test-api/dart
test-api/typescript


target/
wrapper/
generated/
# Visual Studio Code
.vscode

# Rider
.idea
.svn

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/


.gradle
/build/
gradlew*
/java-grpc/gradle/


/test-api/yamltest/
/test-api/miniprogram/
