<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="logLen" source="logging.len"/>
    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  %highlight(%-5level) [%cyan(%t)] %logger{${logLen:-39}} %X{IP} %magenta(%X{c-id}):%X{x-b3-traceid} %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="tech"  additivity="false" >
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- OFF表示最高等级禁用所有日志记录 -->
    <logger name="tech.krpc.server" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
